@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-clock__hour-hand__body {
  background-color: white !important;
}

.react-clock__minute-hand__body {
  background-color: rgb(218, 218, 218) !important;
}

.react-clock__mark__body {
  background-color: white !important;
}

.react-clock__second-hand {
  transition: transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.6s;
}

.PhoneInput > input {
  background: none;
  outline: none;
}
